h1 {
    font-size: large;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h2 {
    font-size: medium;
    color: darkgray;
    font-family: 'Lato', sans-serif;
}

h3 {
    font-size: medium;
    font-family: 'Lato', sans-serif;
}

.subHeader {
    color: darkgray;
    font-family: 'Lato', sans-serif;
}

body {
    font-family: Roboto, sans-serif;
}

.continueReadingLink{
    text-align: right;
}

.centerImage{
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.centerText{
    text-align: center;
}